* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Courier;
}

a {
    color: white;
}

.text-c {
    text-transform: capitalize;
}

.text-u {
    text-transform: uppercase;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg.png");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

nav {
    background-color: rgba(190, 66, 159, 0.3);
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.site-name {
    font-family: 'Explora', cursive !important;
    font-size: 30px;
}

.home-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.header-display {
    display: flex;
    align-items: center;
    height: 70%;
    text-transform: capitalize;
    color: white;
}

header .container p {
    font-size: 35px;
    font-weight: bold;
}

header .container h1 {
    font-size: 60px;
}

header .container span {
    color: red;
    font-size: 30px;
}

header .container button {
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;

}

header .container button:hover {
    border: #0d6efd 2px solid;
    background-color: white;
    color: red;
    box-shadow: 2px 5px 2px #888;
}

.my__photo img {
    width: 100%;
    height: 100%;
}

.my__photo:hover {
    transform: scale(105%);
}

#about__me {
    background-color: #20c997;
}

#about__me h2 {
    text-align: center;
    padding: 40px;
    color: red;
    font-size: 35px;
    text-transform: capitalize;
}


#about__me h3 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

#about__me p {
    text-align: center;
    font-size: 20px;
}

.see__more {
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10% 0 0 40%;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.see__more:hover {
    border: #0d6efd 2px solid;
    background-color: white;
    color: red;
    box-shadow: 2px 5px 2px #888;
}


#skills {
    background-color: rgba(13, 110, 253, 0.54);
    padding: 40px 0;
}

#skills h2 {
    text-align: center;
    padding: 40px;
    color: red;
    font-size: 35px;
    text-transform: capitalize;
}

.my__skill__text {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.html .text-input, .css .text-input, .javascript .text-input, .react .text-input {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.color1 {
    width: 100%;
    height: 15px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.color1 div {
    width: 95%;
    height: 100%;
    background-color: #dc3545;
}

.color2 {
    width: 100%;
    height: 15px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.color2 div {
    width: 70%;
    height: 100%;
    background-color: blue;
}

.color3 {
    width: 100%;
    height: 15px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}


.color3 div {
    width: 50%;
    height: 100%;
    background-color: yellow;
}

.color4 {
    width: 100%;
    height: 15px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.color4 div {
    width: 20%;
    height: 100%;
    background-color: greenyellow;
}

.color1 div:hover, .color2 div:hover, .color3 div:hover, .color4 div:hover {
    transform: scale(105%);
}