* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid {
    padding: 0 !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.container-1 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 13, 22);
}

.h1 {
    color: aliceblue;
    font-size: 30px;
}

.site-navbar-link {
    width: 30%;
    padding: 0 40px;
}

ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.site-home {}

.site-home-text {
    text-align: center;
    align-items: center;
    padding-top: 300px;
}

.site-home-text {
    color: white;
}

.site-name {
    font-size: 60px;
}

.company-about {
    padding: 10px;
    padding-bottom: 40px;
    font-size: 18px;
}

.search-input {
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    padding: 5px 15px;
}

main {
    background-color: rgba(249, 249, 249, 0.98);
}

.blog-name {
    text-align: center;
    padding: 80px 0 50px;
}

.blog-name h2 {
    font-weight: 600;
    font-family: 'Aboreto';
    font-size: 30px;
}

.blog-name p {
    padding: 20px 0;
    color: rgba(128, 128, 128, 0.754);
}


.galery {
    position: relative;
}

.galery img {
    width: 100%;
    height: 100vh;
}

.galery p {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
}

.galery a {
    text-decoration: none;
    color: rgba(204, 192, 192, 0.95);
    font-size: 16px;
    position: absolute;
    right: 20px;
    bottom: 110px;
    font-weight: bold;
}

#blog {
    padding: 80px 0 50px;
}

#blog h2 {
    font-weight: 600;
    font-family: 'Aboreto';
    font-size: 30px;
}

#blog p {
    padding: 15px 0;
    color: rgba(128, 128, 128, 0.754);
}

#blog img{
    width: 100%;
    height: 80vh;
}


.text{
    color: black !important;
    font-size: 20px;
    font-weight: 400;
}

.text-1{
    font-weight: 300;
}

.read-more{
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color: black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 1.5% 0;
    box-sizing: border-box;
}

.my__photo{
    width: 100%;
    height: 100%;
}